/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 400;
  src: url('../fonts/IBMPlexSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 500;
  src: url('../fonts/IBMPlexSans-Medium.otf') format('opentype');
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* colors */
  --global-color-alpha-light: #4f95ff;
  --global-color-alpha: #3385ff;
  --global-color-alpha-dark: #2e77e6;
  --global-color-alpha-x-dark: #1b4186;
  --global-color-alpha-transparent: #3385ffbf;
  --global-color-alpha-x-transparent: #3385ff4d;

  --global-color-neutral-xxxx-light: #f5f6fa;
  --global-color-neutral-xxx-light: #e2e3e7;
  --global-color-neutral-xx-light: #caccd4;
  --global-color-neutral-x-light: #b5b6c0;
  --global-color-neutral-light: #a0a1ad;
  --global-color-neutral-dark: #757787;
  --global-color-neutral-x-dark: #606274;
  --global-color-neutral-xx-dark: #4b4c60;
  --global-color-neutral-xxx-dark: #35374d;
  --global-color-neutral-xxxx-dark: #20223a;

  --global-color-alpha--top: #009de6;
  --global-color-alpha--bottom: #1ab6ff;
  --global-color-white: #ffffff;
  --global-color-dark: #17191a;
  --global-color-neutral: #616466;
  --global-color-neutral--light: #c6cacc;

  /* fonts */

  /* shadows */

  /* borders */
  --global-borderRadius: 3px;
  --global-borderWidth: 2px;

  /* transitions */
  --global-transitionTiming-alpha: 0.1s ease-out;

  /* colors */

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* Global input styles */
  --global-container-borderColor: #1ab6ff;
  --global-input-backgroundColor: White;
  --global-input-color: var(--global-color-neutral-xxxx-dark);
  --global-input-borderColor: var(--global-color-neutral-xxx-light);
  --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
  --global-input-focus-borderColor: var(--global-color-alpha);
  --global-input-focus-boxShadow: 0 0 0 3px var(--global-color-alpha-x-transparent);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: calc(var(--global-baseline) * 2);
  line-height: 1.5;
  font-family: 'IBMPlexSans', sans-serif;
  color: var(--global-color-neutral);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #076e4f, #063957);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: rgb(133, 18, 18);
  color: white;
  text-shadow: none;
}

::selection {
  background: rgb(133, 18, 18);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 24px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  transition: all var(--transition-alpha);
  color: var(--color-alpha);
  outline-color: var(--color-alpha);
  outline-width: medium;
  outline-offset: 2px;
}

a:visited,
a:active {
  color: var(--color-alpha);
}

a:hover,
a:focus {
  color: var(--color-alpha-light);
}

label,
input {
  display: inline-block;
}

select {
  width: 100%;
}

input::placeholder {
  color: var(--color-neutral);
}

input:disabled {
  cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: var(--global-whitespace) var(--global-whitespace) 0;
}

/* size modifiers */

.o-row--lg {
  padding-top: var(--global-whitespace-xl);
  padding-bottom: var(--global-whitespace);
}

.o-row--xl {
  padding-top: 72px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .o-row {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (min-width: 992px) {
  .o-row--xl {
    padding-top: 96px;
    padding-bottom: 72px;
  }
}

.o-row--option {
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
}

.o-row--footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--global-color-white);
  border-top: 1px solid var(--global-color-neutral-dark);
  padding: var(--global-whitespace-md) 0 var(--global-whitespace-lg) 0;
  background-color: var(--global-color-dark);
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 79.5em; /* 79.5 * 16px = 1272 */
  width: 100%;
}

.o-container--description {
  border-radius: calc(var(--global-baseline) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.o-container--info {
  margin-top: calc(var(--global-baseline) * 3);
  margin-bottom: calc(var(--global-baseline) * 3);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .o-container--info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
  position: relative;
}

.o-section + .o-section {
  padding-top: 8px;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
  CARDS
*/

.c-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.c-image {
  text-align: center;
  width: 508px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.c-image__preview {
  transition: ease-in 0.2s;
}

.c-image__preview:focus,
.c-image__preview:hover {
  transition: ease-out 0.2s;
  transform: scale(1.5) translate(0px, -2.5em);
}

@media (max-width: 768px) {
  .c-image__preview:focus,
  .c-image__preview:hover {
    transform: none;
  }
}

.c-card--logo {
  width: 20em;
  margin: 24px;
  display: flex;
  align-items: center;
  transition: ease-in 0.2s;
}

.c-card--logo:focus,
.c-card--logo:hover {
  box-shadow: 5px 5px 20px var(--global-color-dark);
  transform: translate(-5px, -5px);
  transition: ease-out 0.2s;
}

.c-image--red-herring {
  width: 2em;
  margin-left: 12px;
}

.c-image--download {
  width: 4em;
  padding: 12px;
}

.c-image--download__lg {
  width: 6em;
  height: 6em;
}

.c-image--download__md {
  transition: ease-in 0.2s;
}

.c-image--download__md:focus,
.c-image--download__md:hover {
  transition: ease-out 0.2s;
  transform: translate(-5px, -5px);
}

.c-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.c-links {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
}

.c-card {
  background-color: var(--global-color-white);
  box-shadow: 0px 1px 4px var(--global-color-dark);
  border-radius: calc(var(--global-baseline) / 2);
  margin-bottom: calc(var(--global-baseline) * 2);
}

.c-card__red {
  border-top: var(--global-baseline) solid rgb(133, 18, 18);
}

.c-card__body {
  padding: var(--global-whitespace-lg);
  position: relative;
}

.c-card__image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.u-row-reverse .c-card__image {
  align-items: flex-start;
}

.c-card--caption {
  color: white;
  border-right: 2px solid rgb(133, 18, 18);
  padding-right: 10px;
  margin-top: 10px;
  text-shadow: 2px 1px 2px var(--global-color-dark);
}

.u-row-reverse .c-card--caption {
  border-right: none;
  padding-right: 0;
  padding-left: 10px;
  border-left: 2px solid rgb(133, 18, 18);
}

.c-bare {
  color: white;
  margin-bottom: calc(var(--global-baseline) * 2);
  background-color: rgba(0, 0, 0, 0.1);
  padding: var(--global-whitespace-lg);
  margin-right: var(--global-whitespace-xl);
  border-radius: var(--global-baseline);
}

.u-row-reverse .c-bare {
  margin-right: 0;
  margin-left: var(--global-whitespace-xl);
}

@media (max-width: 768px) {
  .c-bare {
    margin-right: 0;
    padding: var(--global-whitespace-md);
  }

  .c-card__info {
    font-size: calc(var(--global-baseline));
  }

  .o-container--description {
    margin-bottom: 0;
  }
}

.c-bare__download {
  margin: 18px;
  padding: 0 24px 0 24px;
}

.c-card__info {
  display: flex;
  justify-content: center;
  color: var(--global-color-dark);
  font-size: calc(var(--global-baseline) * 2.3);
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .c-card__info {
    font-size: calc(var(--global-baseline) * 1.8);
  }
}

.c-card__title {
  color: var(--global-color-dark);
  margin-bottom: var(--global-whitespace-lg);
  font-weight: 500;
  font-size: calc(var(--global-baseline) / 2 * 7);
  line-height: calc(var(--global-baseline) / 8 * 37);
  display: flex;
  justify-content: center;
}

.c-download--rows__top {
  justify-content: space-between;
}

.c-download--rows {
  display: flex;
  flex-direction: row;
}

.c-download--columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-download--columns + .c-download--columns {
  margin-left: 24px;
}

.u-1-of-2 + .u-1-of-2 {
  margin-right: 0;
  margin-left: 24px;
}

.u-row-reverse .u-1-of-2 + .u-1-of-2 {
  margin-left: 0;
  margin-right: 24px;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

.u-1-of-2 {
  flex: 0 0 50%;
}

.u-row-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .u-row-reverse {
    flex-direction: column;
  }

  .u-row-reverse .c-bare {
    margin-left: 0;
    margin-right: 0;
  }

  .u-1-of-2 + .u-1-of-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-row-reverse .u-1-of-2 + .u-1-of-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-fade-out::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral-light {
  color: lightGray;
}

.u-color-neutral {
  color: Gray;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 32px !important;
}

.u-mb-xl {
  margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xxs {
  max-width: 20em !important;
}

.u-max-width-xs {
  max-width: 27em !important;
}

.u-max-width-sm {
  max-width: 32em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}

.u-max-width-lg {
  max-width: 63.5em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
  text-align: center;
}

.u-align-center {
  margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
  font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
