/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

.o-row {
  position: relative;
  padding: 24px 24px 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-option-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 48px 0 48px;
  margin: 12px 0 12px 0;
  list-style: none;
}

.c-logo {
  display: flex;
  justify-content: center;
}

.c-container {
  
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
#MEDIA
\*------------------------------------*/
